* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    position: relative;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.title {
    width: 40%;
    background-color: rgb(27, 139, 214);
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 30px 10px;
}

.list {
    width: 50%;
    font-size: 3rem;
    margin: auto;
    margin-top: 6%;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    color: white;
    padding: 3%;
}

.list-items-blue {
    background-color: rgb(27, 139, 214);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(27, 139, 214);
    margin: 3%;
}

.list-items-purple {
    background-color: rgb(63, 25, 167);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(63, 25, 167);
    margin: 3%;
}